{% extends "layout.html" %}

{% block content %}
    <div class="file-upload-div">
        <table>
            <tr>
                <td><h3>Upload training data</h3></td>
            </tr>
            <tr>
                <td>
                    <form method="POST" enctype="multipart/form-data">
                        <input type="file" name="file">
                        <input type="submit" value="upload">
                    </form>
                </td>
            </tr>
        </table>
    </div>

    <div class="train-selections">

        <table>
            <tr>
                <td><h2>Training</h2></td>
            </tr>
            <tr>
                <td>Corpus</td>
                <td>
                    <select id="data-selection" name="selection">
                        {% for corpus in corpus_files %}
                            <option value="{{corpus}}">{{corpus}}</option>
                        {% endfor %}
                    </select>
                </td>
            </tr>
            <tr>
                <td>Epochs</td>
                <td><input type="text" id="epoch-count" name="epoch-input"></td>
            </tr>
            <tr>
                <td><button id="train-button">Train</button></td>
            </tr>
        </table>
        <div id="epoch-info">
        </div>

    </div>

{% endblock %}

